//Start scss

// Color system

$blue: #00A5B5;
$blue-dark: #069CAB;
$indigo: #005eb8;
$purple: #004a92;
$pink: #f3a4b5;
$red: #f5365c;
$orange: #fb6340;
$yellow: #ffd600;
$green: #2dce89;
$teal: #11cdef;
$cyan: #2bffc6;
$white: #ffffff;
$gray-100: #f6f9fc;
$gray-200: #F2F2F2;
$gray-300: #e3e3e3;
$gray-400: #ced4da;
$gray-500: #EAE6E3;
$gray-600: #6c757d; 
$gray-700: #292E3F; 
$gray-800: #32325d; 
$gray-900: #212529;

// Color

$primary: $gray-200;
$secondary: $indigo;
$success: #00f2c3;
$info: #1d8cf8;
$warning: #ff8d72;
$danger: #fd5d93;
$black: #222a42;

//End scss

/*CSS*/

*,*:after, *:before{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    background-color: $gray-200 !important;
    color: $white;
    overflow-x: hidden;
}

body, html{
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

ul{
    background-color: $secondary !important;
}

img {
    width: 100%;
}

ul > li > a{
    color: $primary !important;
}

ul > li > a:hover{
    color: $secondary !important;
    background-color: $primary !important;
}

html::-webkit-scrollbar {
    background-color: $secondary;
    width: 13px;
}

html::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 20px;
    border: 3px solid $secondary;
}

html::-webkit-scrollbar-thumb:hover {

    border-radius: 20px;
}

.container {
    max-width: 100%;
}

.container-title {
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
}

.container-title-primary {
    background-color: $secondary;
}

.col-title{
    padding-top: 50px !important;
    text-align: center;
    font-size: 24px;
}

.col-underline-title {
    background-color: $primary;
    height: 3px;
    width: 171px;
    margin: 9px auto;
    margin-bottom: 50px;
}

.row-fluid {
    max-width: 70% !important;
    margin: 0 auto !important;
}

button.btn.btn-primary, a.btn.btn-primary{
    background-color: $indigo;
    border-color: $indigo;
}

button.btn.btn-primary:hover, a.btn.btn-primary:hover{
    background-color: $purple;
    border-color: $purple;
}

button.btn.btn-light, a.btn.btn-light  {
    background: none;
    color: $secondary;
}

button.btn.btn-link, a.btn.btn-link {
    color: $secondary;
}

.btn-View-Portfolio, .btn-primary-Contacts {
    margin: 50px 0;
}

.btn-View-Portfolio {
    width: 35vh;
}

.btn-primary-Contacts {
    width: 40vh !important;
    margin: 50px auto;
}

.btn-home {
    width: 30%;
    margin: 0 auto;
}

.nav-link-primary:hover, .nav-link-primary:active, .nav-link-primary:focus {
    color: $primary !important;
}

.nav-link-secondary:hover, .nav-link-secondary:active, .nav-link-secondary:focus{
    color: $secondary !important;
}

.row {
    width: 100%;
    margin: 0;
}

.col {
    padding: 0;
}

.container-body{
    min-height: calc(100% - 4rem);
}

.ir-arriba {
    display: none;
    padding: 3px;
    text-align: center;
    width: 47px;
    height: 34px;
    background: $primary;
    font-size: 20px;
    color: $secondary;
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    right: 20px;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0px 0px 5px $black;
}

.container-breadcrumb-services {
    padding-top: 15px;
    position: absolute;
}

li.breadcrumb-item > a {
    color: $primary !important;
    text-decoration: none;
}

/* Loading */

#ContainerLoading{
  background-color: rgba(60, 73, 116, 0.99);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

#Loading{
    border: 15px solid $gray-600;
    border-top-color: $primary;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: turn 1.5s linear infinite;
    -o-animation: turn 1.5s linear infinite;
    animation: turn 1.5s linear infinite;
}

@keyframes turn{
    from{ transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* header-1 */

.navbar-menu-floating {
    position: none;
    background: none;
}

.navbar-light .navbar-toggler {
    color: $white;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-header-1 {
    background-color: $indigo !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-header-1, .navbar-light .navbar-text, .navbar-light .navbar-nav .nav-link {
    color: $gray-200 !important;
}

li.nav-item.dropdown {
    color: $gray-200 !important;
}

.nav-link {
    color: $secondary;
}

.nav-link-primary {
    color: $primary;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: $primary !important;
}

.navbar-Languages {
    justify-content: flex-end;
}

/* header-2 */

nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-header-2 {
    background-color: $primary !important;
}

.Logo {
    width: 10rem;
}

html#ecwid_html body#ecwid_body .ec-minicart--m .ec-minicart__counter::after {
    background: $white !important;
    color: $primary !important;
}

.col-header-2-Img{
    padding-left: 0;
}

.navbar-expand-lg {
    justify-content: flex-end !important;
}

/* pagination */

.pagination.pagination-lg {
    justify-content: center;
    margin: 50px 0;

}

.page-link {
    background-color: rgba(255, 99, 71, 0);
}

.page-item.active > a {
    background-color: $primary !important;
    border-color: $white !important;
}

.pagination-deactivated {
    display: inherit ;
}

.pagination-deactivated {
    display: none ;
}

/*Home*/

.Bane-Title-Recycling {
    text-align: center;
    margin-top: 25px;
    color: $purple;
}

.Bane-Texts-Recycling {
    margin: 20px 0px;
    font-size: 16px;
    text-align: center;
    color: $gray-600;
    font-family: sans-serif;
}

/* Why Recycle */

.container-Why-recycle{
    position: relative;
    display: inline-block;
    text-align: center;
}

.Title-Why-recycle {
    position: absolute;
    top: 45%;
    left: 5%;
    transform: translate(0%, -80%);
    color: #005eb8;
    font-size: 3em;
    font-family: sans-serif;
    font-weight: 700;
    text-align: initial;
}

.container-Text-Why-Recycle {
    margin: 30px 0;
}

.Text-Why-Recycle {
    color: $gray-700 !important;
    font-weight: 500;
}

.Sub-Title-Why-recycle{
    color: $secondary;
}

.Text-Why-Recycle > li{
    list-style: decimal;
}

.Why-recycle-2{
    padding: 40px 180px;
}

.Img-Recycle{
    width: 100%;
}

.list--box-check > li, .list--cross > li{
    padding-left: 10px;
}

.list--box-check > li::marker {
    content: "\f00c";
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    font-family: 'FontAwesome';
    color: $green;
}

.list--cross > li::marker {
    content: "\f00d";
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    font-family: 'FontAwesome';
    color: $red;
}

/* Portfolio Filter Gallery */

.filter-gallery {
    top: 2em;
    text-align: left;
}

.filter-gallery > img{
    width: 30%;
}
  
.filter-gallery img {
    margin: 1em;
}

.tech, .arch, .nature {
    transition-timing-function: ease;
    transition-duration: 1s;
}

.col-filter-category  {
    text-align: inherit;
    margin: 50px 0px;
}

.col-filter-category > a {
    color: $secondary !important;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}

.col-filter-category:hover  {
    border-bottom: 3px solid $primary;
}


.col-filter-category > a:hover {
    color: $purple !important;
}

.activo-filter{
    border-bottom: 3px solid $primary;   
}

.activo-filter > a {
    color: $purple !important;
}

.col-My-Work-deactivated{
    display: none !important;
}

/* Footer */

.container-Footer{

    color: $white;
    text-align: center;

}

.container-Footer-1 {
    background-color: $secondary !important;
}

.container-Footer-2 {
    background-color: $purple !important;
}

.Col-Footer-1{
    margin: 20px 0;
}

.row-Footer-2{
    font-size: 14px;  
    padding: 15px 0px;
}

.Col-Contacts-Us-Footer-1{
    font-size: 18px;
}

.Col-Description-Footer-1{
    font-size: 14px;
}

.Col-Social-Media-Footer-1 > a{
    list-style: none;
    color: $white;
    opacity: 40%;
    font-size: 48px;
    margin: 0 30px;
}

.Col-Social-Media-Footer-1 > a:hover{
    color: $primary;
    opacity: 40%;
    transition: color .15s 
                ease-in-out,background-color .15s 
                ease-in-out,border-color .15s 
                ease-in-out;
}

img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

@media only screen and (min-width: 991px) {
    
/* Portfolio Filter Gallery */

.col-My-Work {
    flex: none;
    width: 33.2% !important;
    margin: 25px auto;
}

}

@media only screen and (max-width: 991px) {

.row-fluid {
    max-width: 95% !important;
}

.navbar-menu{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    z-index: 1000;
    background: $primary;
    height: 100vh;
    overflow-y: auto;
}

.nav-item {
    text-align: center;
    padding: 10px 0;
}

.navbar-light .navbar-toggler {
    border-style: none;
}

.dropdown-menu {
    margin: 0 auto;
    position: inherit;
    width: 90%;
    border-style: none;
    text-align: center;
    background-color: $secondary !important;
}

.dropdown-menu > li > a {
    padding: 10px 0;

}

/* Portfolio Filter Gallery */

.col-My-Work {
    flex: none;
    width: 40.2% !important;
    margin: 25px auto;
}

}

@media only screen and (max-width: 700px) {

/* header-2 */

.col-sm-6.col-header-2 {
    order: 2;
}

.col-header-2-cart {
    position: absolute !important;
    margin-bottom: 45px;
    margin-left: -70px;
}

.col-header-2-search {
    margin-top: 20px;
}

div#navbarText {
    display: block;
}

.container-fluid.row-fluid.row-lenguages {
    margin: 0 !important;
    display: flex;
}

.narbar-lenguages {
    justify-content: center !important;
}

/* Why Recycle */

.Title-Why-recycle {
    font-size: 1em;
}

/* Portfolio modal */

.modal-body > img {
    width: 100% !important;
    margin: 0 auto;
}

.img-modal-2 {
    padding: 0 10%;
}
    
.col-edit-position{
    order: 2;
}

/* Portfolio Filter Gallery */

.col-My-Work {
    flex: none;
    width: 100% !important;
    margin: 25px auto;
}

.col-filter-category {
    text-align: center;
}

/* ContactsUs */

.btn-Form-ContactsUS {
    width: 100%;
}
    
}